<html><head><style>
    .form-example {background-color: rgb(226, 239, 243);height: 100%;width: 100%;text-align: center;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
    .input-container {background-color: rgb(210, 238, 178); border: 3px solid #4CAF50; padding: 20px; border-radius: 20px; margin: 0; width: 500px; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
    label {color: #333; font-weight: bold; display: block; text-align: left; padding: 0px 50px;}
    input[type="text"] {padding: 7px 10px; margin: 8px 0; box-sizing: border-box; border: 2px solid #ccc; border-radius: 10px; width: 80%;}
    input[type="submit"] {background-color: #4CAF50; color: white; padding: 10px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;}
  </style>
</head>
<body>
  <form action="" method="get" class="form-example">
    <div class="input-container">
      <label for="ON">Time(ms) on: </label>
      <input type="text" name="On" id="On" required><br><br>
      <label for="OFF">Time(ms) off: </label>
      <input type="text" name="Off" id="Off" required><br><br>
      <input type="submit" value="Send">
    </div></form></body></html>
